[Unit]
Description=NFTable Forward Manage Service (%i)
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/nat/.env
ExecStart=/usr/local/bin/nat-go -c /etc/nat/%i
Restart=always
RestartSec=10

# 安全相关设置
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target